---
інки
const currentYear = new Date().getFullYear();
---

<footer class="pt-4 pb-4 bg-gray-100">
    <div class="max-w-6xl mx-auto px-4">
        <div class="py-4 text-center text-gray-600">&copy; Моє резюме, шо хочу те і роблю {currentYear} :)</div>
    </div>
</footer>
