---
// ResumeAside component - бічна панель з технологіями
---

<aside class="flex-none w-80 bg-white p-6 rounded-lg sticky top-4">
    <h2 class="text-xl font-semibold mb-4 text-gray-800">Використовувані технології:</h2>
    <ul class="list-none p-0 mb-4">
        <li class="bg-transparent border-b border-gray-200 flex items-center p-2">
            <svg role="img" class="mr-4 w-6 h-6 html-icon">
                <use xlink:href="/svg/icons/svg-symbols.svg#html-icon"></use>
            </svg>
            <span>HTML/HTML5</span>
        </li>
        <li class="bg-transparent border-b border-gray-200 flex items-center p-2">
            <svg role="img" class="mr-4 w-6 h-6 css-icon">
                <use xlink:href="/svg/icons/svg-symbols.svg#css-icon"></use>
            </svg>
            <span class="leading-normal">css, scss, less, Tailwind</span>
        </li>
        <li class="bg-transparent border-b border-gray-200 flex items-center p-2">
            <svg role="img" class="mr-4 w-6 h-6 js-icon">
                <use xlink:href="/svg/icons/svg-symbols.svg#js-icon"></use>
            </svg>
            <span>Js, jQuery, React, Next</span>
        </li>
        <li class="bg-transparent border-b border-gray-200 flex items-center p-2">
            <svg role="img" class="mr-4 w-6 h-6 gulp-icon">
                <use xlink:href="/svg/icons/svg-symbols.svg#gulp-icon"></use>
            </svg>
            <span>Gulp, Vite</span>
        </li>
        <li class="bg-transparent flex items-center p-2">
            <span>Jira, GitHub Copilot, Git, Bitbucket, Netlify</span>
        </li>
    </ul>

    <h2 class="text-xl font-semibold mb-3 mt-8 text-gray-800">Додатково:</h2>
    <h3 class="text-lg font-medium mb-2 text-gray-700">Працював з CMS та framework:</h3>
    <ul class="space-y-1 mb-6 text-gray-600 list-none">
        <li>CMS WordPress</li>
        <li>CMS Shopify</li>
        <li>Framework Laravel</li>
        <li>Astro</li>
    </ul>
    <h3 class="text-lg font-medium mb-2 text-gray-700">Робота з графічними програмами:</h3>
    <ul class="space-y-1 text-gray-600 list-none">
        <li>Adobe Photoshop</li>
        <li>Adobe Illustrator</li>
        <li>Figma</li>
    </ul>
</aside>
