---

---

<div class="min-w-0 w-full sm:flex-1">
    <div class="mb-8">
        <h2 class="text-2xl font-semibold mb-4 border-b border-gray-300 pb-2">Освіта:</h2>
        <p class="text-gray-700">Херсонський національний технічний університет</p>
    </div>

    <div class="mb-8">
        <h2 class="text-2xl font-semibold mb-4 border-b border-gray-300 pb-2">Досвід роботи:</h2>
        <div class="space-y-4">
            <div class="p-4 bg-white rounded-lg">
                <h3 class="text-lg font-semibold text-gray-800 mt-2">Компанія "Avant Ops"</h3>
                <div class="text-blue-600 font-bold mb-2"><strong>2025 (півроку)</strong></div>
                <div class="space-y-2 text-gray-700">
                    <p>Розробка та підтримка проектів компанії</p>
                    <p><strong class="font-semibold">Посада</strong>: Front-end developer shopify</p>
                    <p><strong class="font-semibold">Використовувані технології</strong>: shopify,
                        javascript, html, scss, gulp, git, liquid, Figma</p>
                </div>
            </div>
            <div class="p-4 bg-white rounded-lg">
                <h3 class="text-lg font-semibold text-gray-800 mt-2">Компанія "Wizardsdev"</h3>
                <div class="text-blue-600 font-bold mb-2"><strong>2021 - поточний час</strong></div>
                <div class="space-y-2 text-gray-700">
                    <p>Розробка та підтримка проектів компанії</p>
                    <p><strong class="font-semibold">Посада</strong>: Full-stack developer wordpress</p>
                    <p><strong class="font-semibold">Використовувані технології</strong>: wordpress,
                        javascript, html, scss, gulp, git, php Adobe Illustrator, Figma</p>
                </div>
            </div>

            <div class="p-4 bg-white rounded-lg">
                <h3 class="text-lg font-semibold text-gray-800 mt-2">Компанія "TeoGaming"</h3>
                <div class="text-blue-600 font-bold mb-2"><strong>2019 - 2021</strong></div>
                <div class="space-y-2 text-gray-700">
                    <p>Розробка та підтримка проектів компанії у сфері просування онлайн казино.</p>
                    <p><b class="font-semibold">Посада</b>: Front-end developer</p>
                    <p><b class="font-semibold">Використовувані технології</b>: wordpress, laravel (blade), php, vue.js,
                        javascript, html, less(css), gitLab, gulp, Adobe Photoshop, Adobe
                        Illustrator, Figma</p>
                </div>
            </div>

            <div class="p-4 bg-white rounded-lg">
                <h3 class="text-lg font-semibold text-gray-800 mt-2">ТОВ "RedMoon" IT-company</h3>
                <div class="text-blue-600 font-bold mb-2"><strong>2018-2019</strong></div>
                <div class="space-y-2 text-gray-700">
                    <p>Реалізація проектів компанії</p>
                    <p><b class="font-semibold">Посада</b>: Frontend developer</p>
                    <p><b class="font-semibold">Використовувані технології</b>: openCart, wordpress, laravel (blade),
                        javascript, Jquery, html, less(css), git, bitbucket, gulp, Adobe Photoshop,
                        Adobe Illustrator, Figma</p>
                </div>
            </div>

            <div class="p-4 bg-white rounded-lg">
                <h3 class="text-lg font-semibold text-gray-800 mt-2">Інтернет магазин "Palladium.ua"</h3>
                <div class="text-blue-600 font-bold mb-2"><strong>2016 - 2018</strong></div>
                <div class="space-y-2 text-gray-700">
                    <p>Реалізація проектів компанії у сфері інтернет-магазинів</p>
                    <p><b class="font-semibold">Посада</b>: Верстальник</p>
                    <p><b class="font-semibold">Використовувані технології</b>: VamShop, openCart, javascript, Jquery,
                        html, less(css), gulp, Adobe Photoshop, Adobe Illustrator.</p>
                </div>
            </div>

            <div class="border-t border-gray-300 my-6"></div>

            <div class="p-4 bg-white rounded-lg">
                <h3 class="text-lg font-semibold text-gray-800 mt-2">Інші місця роботи:</h3>
                <div class="space-y-2 text-gray-700">
                    <p><strong class="font-semibold">2015 - 2008</strong> Не повʼязані з IT сферою</p>
                </div>
            </div>
        </div>
    </div>
</div>