.css-icon {
  width: 128px;
  height: 128px;
}

.git-icon {
  width: 128px;
  height: 128px;
}

.gulp-icon {
  width: 128px;
  height: 128px;
}

.html-icon {
  width: 128px;
  height: 128px;
}

.jquery-icon {
  width: 128px;
  height: 128px;
}

.js-icon {
  width: 128px;
  height: 128px;
}

.less-icon {
  width: 128px;
  height: 128px;
}

.svg-icon {
  width: 128px;
  height: 128px;
}

.vue-icon {
  width: 128px;
  height: 128px;
}

